{% extends  'mediaReview_app/base.html' %}

{% block contenido %}
        <h1>Detalles para "{{medio_obj}}" en  {{fecha}}</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Titular</th>
                <th scope="col">Respuesta IA</th>
                <th scope="col">Contexto</th>
            </tr>
            </thead>
            <tbody>
                {% for n in lista_noticias_completa %}
                <tr 
                {% if n.noticia.contexto|stringformat:"s" == 'negativo' %}
                    class="table-danger"
                {% endif %}
                {% if n.noticia.contexto|stringformat:"s" == 'positivo' %}
                    class="table-primary"
                {% endif %}
                {% if n.noticia.contexto|stringformat:"s" == 'neutro' %}
                    class="table-light"
                {% endif %}

                >
                    <td>{{n.noticia.titular}}</td>
                    <td>{{n.respuesta}}</td>
                    <td>{{n.noticia.contexto|capfirst}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

{% endblock %}